<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>todo_controler</servlet-name>
        <servlet-class>fr.eservice.todo.TodoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>todo_controler</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
